body{
  background-color: #99CCCC;
  background-image: url("background.png");
}

#chart1, #chart2, #chart3, #info1, #info2, #info3{
  background-color: #ffffff;
  border-radius: 25px;
  padding: 20;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#info1, #info2, #info3{
  height: 100%;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#longevity1 h3, #longevity2 h3{
  text-align: center;
  text-shadow: 2px 2px #BBB;
  color: white;
  font-family: 'Lato', sans-serif;
}

h2{
  color: #40bce0;
}

#graph-data{
  color: #777;
  text-align: center;
}

.graph-head{
  color: white;
  text-align: center;
  text-shadow: 2px 2px #BBB;
  font-family: 'Lato', sans-serif;
}

.table-responsive{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 15px;
}

h1{
  text-align: center;
  color: white;
  text-shadow: 2px 2px #BBB;
  font-family: 'Lato', sans-serif;
}

#chart1-sub{
  color: white;
}

button.accordion {
    font-family: 'Lato', sans-serif;
    background-color: #888;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    font-size: 18px;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}
